<div class="background-image" style="background-image: url(./assets/db.jpg)">
  <div class="temp">
        <div class="container">
            <form #blogForm="ngForm" class="bg-light p-4 rounded" style="max-width: 600px; margin: 0 auto; box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);">
              <h1 style="color: black;">Upload Your New Blog</h1>

                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" name="author" [(ngModel)]="blog.author">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="blog.title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" [(ngModel)]="blog.description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" id="content" name="content" [(ngModel)]="blog.content"></textarea>
                </div>
                <div class="mb-3">
                    <label for="publishedAt" class="form-label">Published At</label>
                    <input type="text" class="form-control" id="publishedAt" name="publishedAt" [(ngModel)]="blog.dob">
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">Choose Image</label>
                    <input type="file" class="form-control" id="url" name="url" (change)="onFileChange($event)" accept="image/*" [(ngModel)]="blog.img" required>
                </div>
                <button type="submit" class="btn btn-primary" (click)="addBlog()">Add Blog</button>
            </form>
        </div>
    </div>