<header>
  <nav>
    <ul class="left-menu">
      <img src="./assets/logo.png" class="imglogo"> 
      <li><a href="#" routerLink="dashboard">StackBlogs</a></li>
      <li><a href="#" *ngIf="isloggedin()" routerLink="favourite">Favourite</a></li>
      <li><a href="#" *ngIf="isloggedin()" routerLink="blogs-module">Add Blogs</a></li>
      <li><a href="#" *ngIf="isAdmin()" routerLink="blog-approval">Pending approvals</a></li>
    </ul>
    <div class="right-menu">  
      <div class="profile-dropdown">
        <button class="profile-btn" *ngIf="isloggedin()">My Profile</button>
        <div class="dropdown-content">
          <a href="#">My Blogs</a>
          <a href="#">Edit Profile</a>
        </div>
      </div>
      <button *ngIf="islogin()" class="logout-btn" (click)="logoutUser()" routerLink="login">Logout</button>
    </div>
  </nav>
</header>
