<div class="background-image" style="background-image: url(./assets/db.jpg)">
    <div class="container">
        <h1 class="heading">Blogs seeking approval</h1>

        <div class="heading" *ngIf="Blogs.length === 0;">
            <p class="empty-message">No pending approvals</p>
        </div>

        <div class="news-container">
            <div class="news-card" *ngFor="let blog of Blogs">
                <img class="card-img" src="{{ 'data:image/jpg;base64,' + blog.img }}" alt="Blog Image">
                <div class="card-body">
                    <p class="card-title">{{ blog.title }}</p>
                    <p class="card-content">{{ blog.content }}</p>
                </div>
                <div class="news-buttons">
                    <button class="btn btn-detail" routerLink="/card/{{ blog.id }}">Details</button>
                    <button class="btn btn-detail" (click)="acceptThis(blog.id)">Accept</button>
                    <button class="btn btn-remove" (click)="removeThis(blog.id)">Remove</button>

                </div>
            </div>
            <button class="btn" (click)="routerIt()">Go Back</button>

        </div>
    </div>
</div>
