.background-image {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the background image covers the entire viewport height */
  }
